<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.informramiz.androidfilepickerlibrary">
    <application>
        <activity android:name=".AttachmentPickerActivity"/>
        <provider
            android:name="com.github.informramiz.androidfilepickerlibrary.FilePickerCustomFileProvider"
            android:authorities="${filesAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_picker_library_file_provider_paths"/>
        </provider>
    </application>
</manifest>
